[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bitarray = "==1.6.3"
lxml = "==4.6.2"
pdfreader = "==0.1.7"
Pillow = "==8.1.0"
pycryptodome = "==3.9.9"
python-dateutil = "==2.8.1"
six = "==1.15.0"
testresources = "==2.0.0"
altgraph = "==0.17"
future = "==0.18.2"
pefile = "==2019.4.18"
pyinstaller = "==4.2"
pyinstaller-hooks-contrib = "==2020.11"
PyQt5 = "==5.15.2"
PyQt5-sip = "==12.8.1"
pywin32-ctypes = "==0.2.0"

[dev-packages]
pytest = "==6.2.2"
csv-diff = "==1.0"
xmldiff = "==2.4"
black = "==20.8b0"
flake8 = "*"

[requires]
python_version = "3.8"

[scripts]
start = "python stocks.py"
lint = "flake8 ."
